
.env

app/pages/admin/assets
app/pages/admin/gulp-tasks
app/pages/admin/node_modules
app/pages/admin/pages
app/pages/admin/partials
app/pages/admin/gulpfile.js
app/pages/admin/index.html

app/public/admin/*
app/public/assets/*
node_modules