<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot your password</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
    <div class="form-container sign-in">
        <form action="/auth/forgotPassword" method="post">
            <h1>Email address used to sign in</h1>
            <input placeholder="Email" id="email" name="email" type="text" required>
            <button type="submit">Send email</button>
        </form>
    </div>

</div>

</body>
</html>
