<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-7">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>Login Form</h1>

    <form action="/auth/login" method="post" >
        <input placeholder="Email" id = "email" name="email" type="text">
        <br>
        <input placeholder="Password" id = "password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
     <h3>Dont have a account ?</h3>
    <a href="/signup">Create a new account</a>
    </form>


    
</body>
</html>