<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>Congratulations! You have successfully logged in.</p>
    <!-- You can include additional content or links here -->
    <a href="/"">Back to homepage</a> <!-- Example logout link -->
</body>
</html>
