<!-- logout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2;url=/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="logout-container">
        <div class="message">You have been logged out.</div>
        <p>Redirecting to homepage...</p>
    </div>
</body>
</html>
