<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="css/login.css">
</head>
<body>
    
<h1>Sign Up</h1>

    <form action="/auth/signup" method="post" >
        <input placeholder="Email Address" id = "email" name="email" type="text">
        <br>
        <input placeholder="Password" id = "password" name="password" type="password">
        <br>
		<input placeholder="Confirm password" id = "passwordConfirm" name="passwordConfirm" type="password">
        <br>
        <input class="sub" type="submit">
    </form>
    <a href="/">Go back to login page</a>
	   
	 
</body>
</html>